body {
	margin: 0;
	padding: 0;
	min-width: 940px;
}

.navigation {
	width: 100%;
	background-color: #40312a;
}

.wrapper_1 {
     width: 940px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.banner {
	background-color: #deccaa;
}
 .welcome {
     display: flex;
 	background: linear-gradient(to bottom left, #3f312a, #3d2f28);
 	width: 100%;
 	justify-content: space-between;
 	position: relative;
 	margin-top: 50px;
 	.pictures {
 		 margin-top: 50px;
 		 margin-right: 40px;
 		 display: block;
 	}
 }

 .text-btn {
 	 display: flex;
 	padding: 30px 0 40px 40px;
 	width: 55%;
 	flex-direction: column;
 }

.header {
	max-width: 100%;
	background: linear-gradient(to top, #ffc366, #f9ba59);
    }
.link {
	width: 100%;
	display: block;
	margin-bottom: 50px;
    border-radius: 3px;
}

.row {
    width: 940px;
    margin-left: auto;
    margin-right: auto;

}

.home-content {
	width: 100%;
	background-color: #f8eedf;
}

.wrapper {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: row;

}

.animate {
	background-color: #ceebe9;
	width: 100%;
	display: flex;
	justify-content: center;
}


.loar {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	border: 3px solid #193b39;
	display: inline-block;
	text-align: center;
	line-height: 300px;
	background-color: rgba(145, 46, 199, 0.8);
	position: relative;
	   .anim_1, .anim_2, .anim_3, .anim_4 {
			width: 70px;
			height: 70px;
			background-color: #8dcf61;
			position: absolute;

	   }
	    span {
	    	font-size: 22px;
	    	color: red;
	    	opacity: 0;
	    	display: inline-block;
	    	vertical-align: middle;
	    	line-height: normal;
	    	animation: line 5s ease infinite;
	    	text-transform: uppercase;
	    }
	   .anim_1 {
			top: 0;
			left: 0;
			animation: square 5s ease-out infinite;
	   }
	   .anim_2 {
			top: 0;
			right: 0;
			animation: square 5s ease-out infinite;
	   }
	    .anim_3 {
			bottom: 0;
			left: 0;
			animation: square 5s ease-out infinite;
	   }
	   .anim_4 {
			bottom: 0;
			right: 0;
			animation: square 5s ease-out infinite;
	   }
}

@keyframes square {
	0% {width: 70px;
			height: 70px;}
	50% {width: 150px;
			height: 150px;}
	100% {width: 70px;
			height: 70px;}
}

@keyframes line {
	0% {
		opacity: 0;
	  }
	25% {
		opacity: 0.2;
	  }
	50% {
		opacity: 1;
	   }
	   75% {
		opacity: 0.2;
	  }
	   100% {
		opacity: 0;
	  }
}


/* Аккордион для сайта */

.ac-container{
    width: 320px;
		margin-left: 40px;
		margin-top: 30px;
}

.ac-container label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		1px 0px 0px 0px rgba(255,255,255,0.9) inset,
		0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:hover{
    background: #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow:
        0px 0px 0px 1px rgba(155,155,155,0.3),
        0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container input{
    display: none;
}

.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container input:checked ~ article {
     -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    height: 100px;
}

.ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(http://netcribe.com/example/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after {
    background-image: url(http://netcribe.com/example/arrow_up.png);
}
